<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to 10BedICU Training Portal</title>
  </head>
  <body>
    <h1>Hello <%= user.name %>,</h1>
    <p>
      Welcome to our platform! We're excited to have you join us as a <%=
      user.role %>.
    </p>
    <p>
      If you have any questions, feel free to reach out to our support team.
    </p>
    <p>Best Regards,</p>
    <p>The Team</p>
  </body>
</html>
